/* Couleurs générales */
body {
  background-color: #142A2E;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 1rem 3rem;
}

/* TITRES */

.section-title {
  font-size: clamp(2.5rem, 5vw, 3rem);
  text-align: center;
  margin-bottom: 0.25rem;
  color: #fff;
}

.section-description {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
}

.section-subtitle-left {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  text-align: left;
  margin-bottom: 0.1rem;
  color: #fff;
  font-weight: 600;
}

.section-subsubtitle-left {
  font-size: clamp(1.1rem, 1.5vw, 1.3rem);
  text-align: left;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-weight: 400;
}

/* CARDS - grille */

.cards-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
}

@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

/* Card individuelle */

.portfolio-card {
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* Image : taille responsive proportionnelle */

.portfolio-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 1rem;
   transition: transform 0.3s ease;
  cursor: zoom-in;
}

.portfolio-card img:hover {
  transform: scale(1.1);
}

/* Textes de la card */

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card-title {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  margin: 0;
  color: #fff;
  font-weight: 700;
}

.card-subtitle {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: #8a8a8a; /* gris */
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

.card-description {
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: #ccc;
  margin: 0;
  font-weight: 300;
  font-style: normal;
}

.card-note {
  font-size: 0.8rem;
  color: #ddd;
  font-weight: 600;
}

/* Section portfolio */

.portfolio-section {
  padding: 2rem 0;
}


